@model IEnumerable<Hckaton2018v2.Models.FileNames>

<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-50 align-items-center">
            <div class="col-12 col-md">

                <div class="page-header text-center">
                    <h1 style="color:#f3f3ff">Archivos disponibles</h1>
                </div>

                <h2>Archivos</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table>
                    <tr>
                        <th>
                            FileId
                        </th>
                        <th>
                            FileName
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "Download", new { id = item.FileId })

                            </td>
                        </tr>
                    }

                </table>


            </div>
        </div>
    </div>
</section>
