@{
    ViewBag.Title = "Transparencia";
}

<!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">
                <div class="wellcome-heading">
                    <h2>Transparencia total</h2>
                    <h3>T</h3>
                    <p>Plataforma creada con el fin de informar al ciudadano la actividad económica y social de los candidatos políticos.</p>
                </div>
                <div class="get-start-area">
                    <!-- Form Start -->
                    <form action="#" method="post" class="form-inline">
                        <input type="submit" class="submit" value="Visita la pagina">
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Welcome thumb -->
    <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
        <img src="img/bg-img/welcome-img.png" alt="">
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->

@Html.Partial("_PartidosPoliticos")

@Html.Partial("_PrincipalesCandidatos")