@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- ***** Special Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Partidos políticos</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <img src="~/images/partidos/PRI.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>PRI</h4>
                    <p>Fué fundado el 18 de Enero de 1946, en la actualidad gobierna en 15 estados de la República.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <img src="~/images/partidos/PAN.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>PAN</h4>
                    <p>Fué fundado el 16 de Septiembre de 1939, En la actualidad el PAN cuenta con el gobierno local en 12 estados de la República. </p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/morena.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>Morena</h4>
                    <p>El 9 de julio de 2014 Morena obtuvo su registro ante el Instituto Nacional Electoral, como partido nacional.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/Partido_verde.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>Partido Verde</h4>
                    <p>Fué fundado en 1993, El partido ha basado su propuesta en la simulación de conservación del ambiente y de los recursos naturales, así como el supuesto combate a la corrupción.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/PRD.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>PRD</h4>
                    <p>El Partido de la Revolución Democrática o PRD es un partido político mexicano, fundado el 5 de mayo de 1989, es considerada la tercera fuerza política de ese país.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/movimiento_ciudadano.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>Movimiento Ciudadano</h4>
                    <p>Fué fundado en el año de 1998 el 1ero de Agosto. La ideología política que predomina en Movimiento Ciudadano es la socialdemocracia, basada en la participación ciudadana, la democracia social, la protección a los derechos humanos y la igualdad de género y oportunidades en el país.</p>
                </div>
            </div>

            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/Nueva_Alianza.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>Nueva Alianza</h4>
                    <p>
                        Fué fundado el 30 de Enero del 2005,  aboga por iguales oportunidades al inicio, por competencia y pluralismo. Pretende, por lo
                        tanto, el libre acceso a todos los mercados; al mercado de educación, de información, de trabajo, y de
                        capital.
                    </p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/PT.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>PT</h4>
                    <p>Fué fundado el 8 de Diciembre de 1990, establece construir una nueva filosofía basada en la ética, la honestidad, la verdad, la cooperatividad, la justicia, la libertad y la democracia.</p>
                </div>
            </div>

            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/PES.png" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>PES</h4>
                    <p>Fué fundado el 30 de Octubre del 2006, Actualmente es miembro por la coalición «Juntos Haremos Historia», con el Partido del Trabajo (PT) y el Movimiento Regeneración Nacional (MORENA).</p>
                </div>
            </div>

            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <img src="~/images/partidos/independiente.jpg" class=" tamanoPartidos" alt="Alternate Text" />
                    </div>
                    <h4>Independientes</h4>
                    <p>Candidato cívico o candidato independiente es el postulante, usualmente a algún cargo político, que no pertenece a un partido político ya existente en el lugar.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->